html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.contenedor-dashboar-administrador{
    padding: 0;
    margin: 0;
}

#fila{
    padding: 10px;
}

#columna-1{
    padding: 20px;
}

#columna-2{
    padding: 20px;
}

#menuLateral img{
    width: 24px;
    height: auto;
}

#menuLateral {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50px;
  padding: 8px 12px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #b8babb;
}

.icon-col {
  flex: 0 0 30px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.text-col a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#tblUsuarios{
    max-width: 95%;
}

.text-center {
  text-align: center !important;
}

.btnEditar{
    border: none;
    color: #ffffff;
    background-color: #1E2957;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    width: 60px;
    height: 30px;
}

.btnEditar:hover{
    background-color: #3e55b1;
}







@media (max-width: 959px) {
  #columna-1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  #menuLateral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .menu-item {
    flex-direction: column;
    align-items: center;
  }

  .menu-item img {
    width: 30px;
  }
}
